<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <ul id="notes" class="list-unstyled"></ul>

        <template id="noteTemplate">
                  <li class="well" data-id="\{{_id}}">
                    <p>
                      <strong>Heading: </strong>
                      <span class="noedit heading">\{{heading}}</span>
                      <input class="edit heading" type="text" >
                    </p>
                    <p>
                      <strong>Text: </strong>
                      <span class="noedit text">\{{text}}</span>
                      <textarea class="form-control edit text" rows="5"></textarea>
                    </p>
                    <button class="remove btn btn-danger">X</button>
                    <button class="noedit editNote btn btn-info">Edit</button>
                    <button class="edit saveEdit btn btn-primary">Save</button>
                    <button class="edit cancelEdit btn btn-danger">Cancel</button>
                  </li>
                </template>

        <br/><br/><h3>Add a new Story</h3>
        <form>
          <div class="form-group">
            <input class="form-control" id="heading" type="text" placeholder="Story heading">
          </div>
          <div class="form-group">
            <textarea class="form-control" id="text" rows="5" placeholder="Write your story"></textarea>
          </div>
          <div class="radio">
            <label><input type="radio" name="private" value='private' >Private</label>
            <label><input type="radio" name="private" value='public' >Public</label>
          </div>
          <input type="button" class="btn btn-primary" id="add-note" value="Add">
        </form>
    </div>
  </div>

</div>
