<div class="container userMode">
  <div class="pageIntroDiv">
    <h1>Welcome</h1>
    <p>Welcome to StoryBook 1.0.0</p>
    <p>Post Stories from the best and worst of your life and choose for them to read by the world optgroup completely private as your own diary
    </p>
    <a href="/stories/public" class="btn btn-warning">Read Public stories</a>
  </div>
</div>
