html {
  position: relative;
  min-height: 100%;
}
footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #5C5757;
  line-height: 50px;
  height: 50px;
  text-align: center;
}
footer span{
  color:lightgrey;
}
body {
   margin-bottom: 90px;
   background-color:#EE6E73;
   /* background-image: url('/images/background.png');

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}
.navbar-default{
  background-color: #5C5757;
  border-color: #5C5757;
}
.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a{
  color:lightgray;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover{
  color:white;
}
.pageIntroDiv{
  color:white;
}
ul li .edit{
  display:none;
}
ul li.edit .edit{
  display:initial;
}
ul li.edit .noedit{
  display:none
}
#loginErr, #signUpErr{
  background-color: #BE4B49;
  color: white;
  padding:5px;
  border:1px solid #FAEEEE;
  border-radius: 5px;
  display: none;
}
#myStory{
  margin-right: 10px;
}

.comment{
  border-radius: 50px;
}

#editPageLogin{
  font-size: 25px;
}
.dropdown-menu-item {
  width:260px;
  padding:10px;
}
