html {
  position: relative;
  min-height: 100%;
}
footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f2f2f2;
  line-height: 70px;
  height: 70px;
  text-align: center;
}
body {
   margin-bottom: 90px;

   background-image: url('/images/background.png');

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
ul li .edit{
  display:none;
}
ul li.edit .edit{
  display:initial;
}
ul li.edit .noedit{
  display:none
}
#loginErr, #signUpErr{
  background-color: #BE4B49;
  color: white;
  padding:5px;
  border:1px solid #FAEEEE;
  border-radius: 5px;
  display: none;
}
#myStory{
  margin-right: 10px;
}

.comment{
  border-radius: 50px;
}
.well{
  background-color: #FFD180;
}
#editPageLogin{
  font-size: 25px;
}
